<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
 <swiper-container [slidesPerView]="9.5"> 
   
  <swiper-slide *ngFor="let pais of respuestapais">
            <ion-card>
              <ion-card-header>
                <ion-img src="{{pais.flags.png}}"></ion-img>
            <ion-card-title> {{pais.name.common}} </ion-card-title>
      
      <ion-label>{{pais.region}}</ion-label>
      <ion-label>{{pais.area}} Km2</ion-label>
    </ion-card-header>
   
      
  </ion-card>
  </swiper-slide>
  </swiper-container>
</ion-content>
